     

.spinner-container
{
    background-color: none;
    
    width: 130px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 25px;
    border-radius: 0.5rem;
    align-self: center;
}

.spinner-container p
{
    align-self: center;
    width: 200px;
    text-align: center;
    margin: 5px 0 0 0;
}

#inner

{
    animation: rotate linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: border-box;
}

#outer

{
    animation: rotate-inverse linear;
    
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: border-box;
    
}

@keyframes rotate {
    0%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-inverse {
    0%
    {
        transform: rotateZ(360deg);
    }
    100%
    {
        transform: rotateZ(0deg);
    }
}


