*{
  box-sizing: border-box;
}

.headContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-top: 20px;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  /*box-shadow: 0px 100px 20px -100px rgba(238, 24, 24, 0.2);
  /*background-color: rgba(255, 254, 254, 0.849);*/
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(236, 130, 148),rgba(255, 255, 255, 0));
}

.header {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.bio {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 25px;
}

.waveButton {
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  width: 200px;
  background-color: black;
  color: white;
}

.message{
  width: 300px;
  height: 100px;
  border-radius: 5px;
  vertical-align: top;
  padding: 10px;
  resize: none;
  margin-bottom: 10px;
  }

.headerInput{
  display: flex;
  flex-direction: column;
  align-items: center;
}
