.wave{
  display: flex;

  background-color: white;
  border-radius: 10px;
  margin-top: 16px;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  box-shadow: 0px 0px 20px 2px rgba(238, 24, 24, 0.2);

}

.wave--info--position{
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 90%;
  padding-top: 10px;
  padding-left: 5px;

}

.wave--left--border{
  box-shadow: 7px 0px 5px -5px rgba(238, 24, 24, 0.2);
}
.wave--message{
  position: relative;
  margin: 0px 10px;
  width: 50%;
  align-self: center;
}

.wave--address{
  width: 20%;

}

.wave--timestamp{
  width: 20%;
  margin-right: 10px;

}

.content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title{
  font-weight: 600;

}
/*.wave--message:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  /*border-bottom:1px solid magenta;
}*/
