.footerContainer {
    margin-top: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
  /*box-shadow: 0px 100px 20px -100px rgba(238, 24, 24, 0.2);
  /*background-color: rgba(255, 254, 254, 0.849);*/
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(236, 130, 148),rgba(255, 255, 255, 0));
  font-size: 0.9rem;
  }

.footerContainer > h4{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.footerContainer  a{
  text-decoration: none;
  color: whitesmoke;
}
